/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}




@import url("https://fonts.google.com/specimen/Public+Sans");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif;
}

/* header css */

header {
  display: flex;
  justify-content: space-around;
  background-color: white;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
  
}

.container{
  margin: 0 auto;
  width: 90%;
}


ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}



header li {
  display: inline-block;
  color: #989aa8;
  font-size: 1rem;
  font-family: "Public Sans", sans-serif;
  cursor: pointer;
}


header li:hover {
  text-decoration: underline;
  text-underline-offset: 1.8rem;
  text-decoration-color: hsl(143, 75%, 47%);
  text-decoration-thickness: 4px;
  color: #424244;
}


button {
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.8rem 2rem;
  border-radius: 30px;
  border: none;

}


button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.hero-container {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  background-color: #FAFAFA;

}

.img-container {
  background-image: url("images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -160px;
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.img-class {
  width: 80%;
  transform: translate(125px, -125px);
}

.hero-section-1 h2 {
  font-size: 3.2rem;
  text-align: left;
  color: hsl(233, 26%, 24%);
  font-weight: 600;
}

.hero-section {
  width: 40%;
  display: flex;
  margin-top: 9rem;

}

.hero-section-1 {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-self: center;
}

.hero-section-1 p {
  font-size: 1.6rem;
  text-align: left;
  color: #989aa7;
  margin-bottom: 5%;
  line-height: 1.3em;

}


.nav-menu-options,
.mobile-hero-text,
.hamburger {
  display: none;
}

.menu {
  margin-left: -6%;
}

header ul {
  padding: 0;
  margin-top: 10px;
}

.section-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(0, 0%, 97%);
  width: 100%;
}

.boxes {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.article-container-2 h2 {
  font-weight: 700;
  color: hsl(233, 26%, 24%);
}

.boxes h3 {
  margin-top: 5%;
  font-size: 1.5rem;
  color: hsl(233, 26%, 24%);
  font-weight: 300;
}

.article-container-2 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 3rem;
  margin-left: 6%;
  font-size: 1.5rem;
  color: #989aa7;
  width: 50%;
  line-height: 1.3em;
}

.boxes p {
  font-size: 1.5rem;
  color: #989aa7;
  margin-top: 5%;
  line-height: 1.3em;
}

.latest-article-container {
  /* margin: 10%; */
  background-color: #FAFAFA;
  padding: 3rem;
}

.latest-article-container h2 {
  margin-left: 7.8%;
  padding-bottom: 2rem;
  font-weight: 300;
  font-size: 2rem;
}

.img-container-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.img-latest-container {
  width: 250px;
  background-color: #FFFFFF;

}

.img-container-2 img {
  width: 250px;
  height: 200px;
}

.img-container-2 h5 {
  font-size: 0.8rem;
  margin: 10px;
  color: hsl(233, 26%, 24%);
}

.img-container-2 h4 {
  margin: 10px;
  font-size: 1.8rem;
  color: hsl(233, 26%, 24%);
  line-height: 1.9rem;
  font-weight: 300;
}

.img-container-2 a {
  text-decoration: none;
}


.img-container-2 p {
  margin: 10px;
  line-height: 1.5;
  font-size: 1rem;
  color: #989aa7;
}


footer {
  background-color: hsl(233, 26%, 24%);
  color: white;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.sub-footer-container {
  margin: 20px;
  display: flex;
  flex-direction: row;
 flex-wrap: wrap;
  justify-content: space-evenly;
  flex-basis: 50%;
}

ul {
  margin: 0;
  padding: 0;
}

footer a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.4rem;
}

.footer-logo {
  margin: 20px;
}

.media-log {
  cursor: pointer;
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.footer-container-2 ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-container-4 {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-container-3 ul {
  display: flex;
  flex-direction: column;
}

.footer-container-3 :hover {
  color: #30D168;
}

footer li a {
  font-size: 1rem;
}

.footer-container-4 p {
  font-size: 1rem;
  color: hsl(233, 8%, 62%);
}


.change:hover {
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}


.footer-container-2 :hover {
  color: #30D168
}


.img-container-2 a :hover {
  color: #30D168;
}


.hamburger-close {
  display: none;
}



/* media queries */

@media all and (max-width:1020px) {

  header .hamburger {
    margin-left: 120px;
    background: none;
    margin: 0;
    margin-top: 2px;
    width: 20%;
  }

  .hamburger {
    display: block;
  }

  header .hamburger-close {
    margin-left: 120px;
    background: none;
    margin: 0;
    margin-top: 2px;
    width: 20%;
  }

  header {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    background-color: white;
    margin: 0;
    padding: 0;
  }

  section .nav-menu-options {
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 20px rgba(73, 93, 109, 0.19), 0 6px 6px rgba(77, 66, 107, 0.23);
    justify-content: center;
    background-color: white;
    width: 85%;
    height: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    border-radius: 5px;
    box-shadow: 10px;
  }

  .pop-menu {
    background: url(./images/bg-intro-mobile.svg) no-repeat;
    background-size: 390px;
    background-position-y: -30px;
    background-position: top right;
    display: none;
    background-color: white;
    border: 1px solid white;
    height: 900px;
    margin: 0;
    margin-bottom: -10%;
  }

   .hidePage {
    display: none;
  }


  .hide {
    display: none;
  }
  
  .show {
    display: block;
  }

  .menu-close {
    display: block;
  }

  .mobile-hero-text {
    width: 100%;
    height: 40%;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1.2rem;
  }

  .mobile-hero-text button {
    margin: 0;
  }

  .mobile-hero-text p {
    width: 95%;
    font-size: 1rem;
    color: #989aa7;
    line-height: 1.5rem;
  }

  header .logo {
    margin: 0;
    margin-top: 10px;
  }

  .mobile-hero-text h1 {
    color: #1f2231;
    font-weight: 350;
    font-size: 2.5rem;
    margin-bottom: 0px;
  }

  .pop-menu li {
    display: block;
    text-align: center;
    color: black;
    font-weight: 10;
    margin-top: 15px;
  }

  header .nav-menu,
  header button {
    display: none;
  }

  /* hero section*/

  .img-container {
    order: -1;
    background-image: url("images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-position: top left;
    background-position-y: -70px;
    width: 100%;
    height: 400px;
  }

  .img-class {
    width: 90%;
    transform: translate(-15px, -125px);
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .hero-section {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 100%;
  }

  .hero-section-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin-top: -2rem;
    padding: 1rem;
  }

  .hero-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
  }

  .main-button {
    margin: auto;
  }

  .hero-section-1 h2 {
    font-size: 2.5rem;
    text-align: center;
  }

  .hero-section-1 p {
    font-size: 1rem;
    text-align: center;
    line-height: 1.5rem;
  }

  /* why choose us */

  .boxes {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .box-1 {
    width: 100%;
    margin-top: 40px;
  }


  .box-2 {
    width: 100%;
    margin-top: 40px;
  }

  .section-container-2 {
    text-align: center;
  }

  .boxes p {
    font-size: 1rem;
  }

  .boxes h3 {
    font-size: 1.8;
   
  }

  .article-container-2 {
    margin-top: 60px;
    width: 80%;
  }

  .article-container-2 p {
    font-size: 1.5rem;
    margin-top: 20px;
  }

  .article-contair-2 h2 {
    color: hsl(233, 26%, 24%);
  }

  .latest-article-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .latest-article-container h2 {
    margin: 0;
    text-align: center;
  }

  .img-latest-container {
    width: 280px;
    background-color: #FFFFFF;

  }

  .img-container-2 {
    display: flex;
    justify-content: center;

  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sub-footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-container-3 li {
    text-align: center;
  }

  .footer-container-2 li {
    text-align: center;
  }

  .footer-container-4 p {
    margin-top: 25px;
    margin-bottom: 25px;
  }

}
